body{
    background-color:lightyellow;
}
header{
    background-color:#1F1D36;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
}
nav{
    background-color:#3F3351;
    color: whitesmoke;
    text-align:initial;
    font-size: 16px;
}
main{ 
    background-color:#E9A6A6;
    color:black;
    text-align:center;
    font-size: 16px;
    display: grid;
    display:grid;
    grid-template-columns: 70% 30%;
}
aside{
    background-color: mediumpurple;
}
footer{
    background-color: #864879;
    color: whitesmoke;
    text-align:center;
    font-size: 16px;
    
}
h3{
    text-align:initial;
    color:#1F1D36;
    margin: 20px;}